/* :root {
  --main-background: ;
  --content-background: ;
  --form-text-color: ;
  --input-color ;
} */

/* use this grid template stack instead of a background image https://youtu.be/JHregeIsjPQ?si=J_lmqTD9vLcvfb_C */

body {
  background-color: #000000;
  color: #ece4e4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  height: 100dvh;
}

fieldset {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  background-color: #5952524e;
  border: 5px solid white;
  width: 80vw;
  min-width: 300px;
  height: 90vh;
  height: 90dvh;
  margin: auto;
  overflow-y: auto;
}

#title,
#description {
  text-align: center;
}

.form-data {
  display: grid;
  height: 70vh;
  height: 70dvh;
}

footer {
  height: 10vh;
  height: 10dvh;
  width: 80vw;
  width: 80dvw;
  min-width: 300px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

#personal-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#improvements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#addinfo {
  width: 100%; /* Take up 100% of the container width */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  resize: vertical; /* Allow vertical resizing */
  min-height: 100px; /* Set a minimum height */
  font-size: 16px; /* Adjust font size based on your preference */
}

#addinfo {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

#button,
#submit {
  background-color: #f5f9f5;
  color: black;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: auto;
}

#button {
  border: 1px solid white;
}

#personal-info {
  border: 5px solid;
}
